/* src/components/Button.css */
.ds-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: "brown";
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.ds-button:hover {
  background-color: "green";
}
